<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body class="container">

  <%- include('../partials/header'); %>

  <main>
    <div class="jumbotron">
      <h1>About me</h1>
      <p>Hi I'm Renan Valério, programming student</p>
    </div>
  </main>

  <%- include('../partials/footer'); %>

</body>

</html>